@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Public+Sans:wght@300&display=swap');

body{
	background-color: rgba(234, 103, 147, 0.20);
    background-image: url(https://img.freepik.com/photos-premium/ciel-coucher-soleil-nuages-lumiere-jaune-rose-degrade-ciel-bleu-lisse-colore-fond-naturel-du-lever-du-soleil-paradis-incroyable-matin-ambiance-legerement-nuageuse-soiree-beau-temps-aube_102332-3288.jpg?w=900);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Public Sans', sans-serif;
 	font-size: 60px;
 	text-align: center;
	
}

.banner {
	width: 4500px;
	height: 2000px;
	border: 10px solid darkgrey;
	border-radius: 100px;
	box-shadow: 50px 30px 50px lightgrey;
	margin: 300px auto;
	background-color: ghostwhite;
	opacity: 90%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.container{
	border:4px salmon;
	width: 4000px;
	height: 1700px;
}

h1{
	font-family: 'Public Sans', sans-serif ;
	color: deeppink;
	font-size: 100px;
}
img{
	width: 1000px;
	opacity: 100%;
}

#Camelia {
	border-radius: 50%;
	object-fit: cover;
}

#Linkedin {
	width: 300px
}

#Telephone{
	width: 300px
}

#Email{
	width: 300px
}

h2{ 
	font-family: 'Public Sans', sans-serif;
	color: salmon;
	font-size: 90px;
 }


 button{
 	height: 400px;
 	width: 800px;
 	font-size: 70px;
 	Background-color: lightblue ;
 	color: white;
 	box-shadow: 50px 30px 50px lightgrey;
 	border: 10px solid darkgrey;
 	border-radius: 70px;
 }

div{
	width: 4000px;
	height: 2000px;
	border: 10px solid darkgrey;
	border-radius: 100px;
	box-shadow: 50px 30px 50px lightgrey;
	margin: 300px auto;
	background-color: ghostwhite;
	opacity: 90%

}

#travels{
	background-image: href="image/travels.jpg";
	width: 4000px;
	height: 1000px;
	border: 10px solid darkgrey;
	border-radius: 100px;
	box-shadow: 50px 30px 50px lightgrey;
	margin: 300px auto;
	background-color: ghostwhite;
	opacity: 90%;
	padding: 50px 40px;
}

#Languages {
	width: 4000px;
	height: 1000px;
	border: 10px solid darkgrey;
	border-radius: 100px;
	box-shadow: 50px 30px 50px lightgrey;
	margin: 300px auto;
	background-color: ghostwhite;
	padding: 50px 120px;
	opacity: 90%;
}

#Skills {
	width: 4000px;
	height: 800px;
	border: 10px solid darkgrey;
	border-radius: 100px;
	box-shadow: 50px 30px 50px lightgrey;
	margin: 300px auto;
	background-color: ghostwhite;
	padding: 50px 120px;
	opacity: 90%;
}
 	ul{
 		list-style-type: none;
 	}

 	ol{
		list-style-type: none;
 	}
 
